/*Geral*/
    *{
        margin: 0px;
        padding: 0px;
    
    }

    a{
        color: gray;
    }

    a:hover{
        color:rgb(50, 25, 125);
    }

    body{
        font-size: 1em;
        font-family:Arial, Helvetica, sans-serif; 
        color: white;
        background-color: rgb(10, 10, 10);
        text-align: justify;
    }

    div{
        padding-top: 20px;
        padding-bottom: 30px;
    }

    h1{
        padding-left: 15px;
    }

    h3{
        text-align: center;
        padding-bottom: 15px;
        font-size: 2em;
    }

/*Cabeçalho*/

    #cabeçalho{
        position: fixed;
        background-color: black;
        text-align: center;
        border-width: 1px ;
        font-size: 2em;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        z-index: 20;
    }

/*Conteúdo*/

    .containers{
        margin-left: 25%;
        margin-right: 25%;
        text-align: justify;
    }

    .fundoEscuro{
        background-color: rgb(10, 10, 10);
        
    }
    .fundoClaro{
        background-color:rgb(20, 20, 20);
    }

    .separaçãoEm3{
        width: 32%;
        display: inline-block;
        text-align: center;
    }

/*Menu*/

    #abaMenu{
        float: left;
    }

    label { 
        z-index: 21;
        position: fixed;
        cursor: pointer;
        float: left;
        width: 50px;
        height: 50px;
        top: 15px;
        left: 15px;
    }
    
    #botão{
        display: none;
    }

    #botão:checked ~ #menuSeleção {

        display: block;

    }
    
    #menuSeleção{
        display: none;
        position: fixed;
        background-color: black;
        float: left;
        width: 22.5%;
        height: 100%;
        top: 0px;
        font-size: 1.75em;
    }
    
    .linkMenu{
        padding: 15px;
        color: white;
        text-decoration: none;
    }

    th, td {
        padding: 15px;
    }

    table {
        border-spacing: 30px;
    }