*
{
    padding: 0px;
    margin: 0px;
}

#Cabeçario
{   
    width: 100%;
    height: 75px;
    background-color: green;
    position: fixed;
    text-align: center;
    display: table;
    
}
    #Logo
    {
        font-size: 1.5em;
        display: table-cell;
        background-color: red;
        vertical-align: middle;
    }
    #menu
    {
        background-color: blue;
        display: table-cell;
        vertical-align: middle;
        
    }
        .itensMenu
        {
            padding: 0 25px;
            background-color: brown;
        }

#corpo
{
    padding-top: 75px;
}